@import "settings";
@import 'magnific-popup/main.scss';

// Colors
$color-accent     : rgb(27, 26, 168);
$color-body       : rgb(249, 249, 244);
$color-text-body  : rgb(60, 60, 60);
$color-text-light : rgb(184, 186, 188);
$color-ui-light   : lighten($color-text-light, 14%);

// Font stacks
$font-sans-serif  : "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$font-serif       : Cardo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

$grid-breakpoint-xxs-max: 37.49em !default;
$grid-breakpoint-xs-min: 37.5em !default;
$grid-breakpoint-xs-max: 47.99em !default;
$grid-breakpoint-s-min: 48em !default;
$grid-breakpoint-s-max: 61.99em !default;
$grid-breakpoint-m-min: 62em !default;
$grid-breakpoint-m-max: 74.99em !default;
$grid-breakpoint-l-min: 75em !default;


html {
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

body {
  font-family: $font-serif;
  background-color: $color-body;
  color: $color-text-body;
  counter-reset: sidenote-counter;
}

header {
  height: 150px;
}

h1 {
  font-weight: 400;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 0;
  line-height: 1;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  display: block;
  line-height: 2.2rem;
}


p {
  font-family: $font-serif;
}


p.meta {
  font-size: 1.1rem;
  color: #555;
  margin: 0.7rem 0;
  font-style: italic;

  a {
    background: none;
    &:hover {
      background: none;
    }
  }

}



table {
  width: 98%;
  clear: left;
  text-align: right;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 1.4rem 1%;
  border-collapse: separate;
  border-spacing: 0 5px;
  -webkit-font-feature-settings: 'tnum';
  /* This is technically redundant */
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
}

thead th {
  border-bottom: 1px solid #AAAAAA;
  font-weight: 400;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

td.text {
  text-align: left;
}

span.table-label {
  padding-top: 8px;
}

/* to maintain height relative to table header row */
table.booktabs {
  width: auto;
  margin: 0 auto;
  border-spacing: 0px;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;

  th {
    border-bottom: 1px solid #333333;
    padding: 0.65ex 0.5em 0.4ex 0.5em;
    font-weight: normal;
    text-align: center;
  }

  th.cmid {
    border-bottom: 1px solid #666666;
  }

  th.nocmid {
    border-bottom: none;
  }

  tbody tr:first-child td {
    padding-top: 0.65ex;
  }

   /* add space between thead row and tbody */
  td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
  }

  caption {
    font-size: 90%;
    text-align: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1ex;
    caption-side: top;
  }

  tbody tr td.l {
    text-align: left !important;
  }

  tbody tr td.c {
    text-align: center !important;
  }

  tbody tr td.r {
    text-align: right !important;
  }

}

article {

  padding-right: 2rem;

  figure {
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-bottom: 3em;
  }

  figcaption {
    float: right;
    clear: right;
    margin-right: -48%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.0rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
  }

  figure.fullwidth figcaption {
    margin-right: 24%;
  }

}


article a,
aside a {
    color: $color-accent;
    text-decoration: none;
    // Underline via gradient background
    background-image: linear-gradient(rgba($color-accent, 0.25) 0%, $color-accent 100%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 86%;
    // Clear descendors from underline
    text-shadow: 2px 0 white, 1px 0 white, -1px 0 white, -2px 0 white;
    &:hover {
      color: darken($color-accent, 11%);
      background-image: linear-gradient(to bottom, darken($color-accent, 6%) 0%, darken($color-accent, 6%) 100%);
    }
    // Style selected links (or else text-shadow makes it look crazy ugly)
    // Pseudo selectors must go separately, or they break each other
    &,
    > * {
      &::selection {
        background-color: lighten($color-accent, 25%);
        color: $color-text-body;
        text-shadow: none;
      }
      &::-moz-selection {
        background-color: lighten($color-accent, 25%);
        color: $color-text-body;
        text-shadow: none;
      }
    }
  }


section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p, ol, ul {
  font-size: 1.3rem;
  line-height: 1.9rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

ul li {
  list-style: disc;
}

blockquote {

  border-left: 5px solid #CCC;
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-style: italic;
  margin-left: 0;
  padding: 0.7rem 1.4rem;

  footer {
    font-size: 1.1rem;
    font-style: normal;
    text-align: right;

  }

}


li {
  padding: 0.25rem 0;
}


.sidenote, .marginnote, .sideimage {
  float: right;
  clear: right;
  margin-right: calc(-50% - 3rem);
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;

  @media (max-width: #{$grid-breakpoint-s-min}) {
    float: none;
    margin-right: 0;
  }

}

.table-caption {
  float: right;
  clear: right;
  margin-right: calc(-50% - 3rem);
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after, .sidenote:before {
  content: counter(sidenote-counter) " ";
  position: relative;
  vertical-align: baseline;
  color: #f00000;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 0.9rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) ". ";
  position: absolute;
  /* 100% refers to the computed width of the number, so this transform
                    * shifts the number just outside the left edge of the sidenote box,
                    * with a buffer of 0.25rem, no matter how many digits the number has. */
  -webkit-transform: translateX(-100%) translateX(-0.25rem);
  -ms-transform: translateX(-100%) translateX(-0.25rem);
  transform: translateX(-100%) translateX(-0.25rem);
}


.imageholder {
  padding: 3px;
  background-color: #FFF;
  border: 1px solid darken($color-body, 15);
  display: block;

  a {
    background: none;
  }

  img {
    display: block;
  }

}


.code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6;
  background-color: #E8E8E8;
  padding: 2px;
}

h1 .code, h2 .code, h3 .code {
  font-size: 0.80em;
}

.marginnote .code, .sidenote .code {
  font-size: 1rem;
}

pre.code {
  overflow-x: scroll;
}

.fullwidth {
  max-width: 90%;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

body.sans {
  p {
    font-family: $font-sans-serif;
    font-size: 1.2rem;
  }
}

