{% extends '_base.twig' %}


{% block content %}

    <h1>{{ record.title }}</h1>

    <p class="subtitle">{{ record.teaser|striptags('<b><em><i><strong><a><u>') }}</p>

    {{ record.body }}

{% endblock %}