{% extends '_base.twig' %}


{% block content %}

    <h1>{{ record.title }}</h1>

    <p class="subtitle">{% block subtitle %}subtitle{% endblock %}</p>

    {{ record.teaser }}

    {{ record.body }}

{% endblock %}